<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Entries: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'lib_screen' %>
    <%= stylesheet_link_tag 'screen' %>
    <%= stylesheet_link_tag 'style' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery.tablesorter.min.js' %>
    <%= javascript_include_tag 'jquery.uitablefilter.js' %>
    <%= javascript_include_tag 'js/jquery-ui-1.7.2.custom.min.js' %>
    <%= javascript_include_tag 'jquery.timers.js' %>
    <%= javascript_include_tag 'wos.js' %>

  </head>
  <body>
    <div id="notify-container">
      <table id="notify-table">
        <tbody>
        <% unless flash[:notice].nil? %>
          <tr class="notify" >
            <td class="notify">
              <%= flash[:notice] %>
            </td>
            <td class="notify-close">
                <a onclick="$('.notify').fadeOut('slow');" title="dismiss this notification">x</a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>


    <div class="container" id="container">
      <div class="header"> 
        <a href="/"><img src="http://www.wallofsheep.com/media/img/logo_sheep.gif" alt="Sheep" /></a> 
        <h1><a href="/">Wall of Sheep</a></h1> 
      </div> 
      <div class="main"> 
        <%= yield %>
      </div>
    </div>  
  </body>
</html>
